$bg-dark: #060608;
$bg-mid: #0b0b0f;
$bg-light: #14141a;
$bg-extralight: #21212c;
$borders: #1f2626;
$text-light: #f3f3f3;
$text-mid: #bfbfbf;
$highlight: #d35d9b;

$grey: #797977;
$green: #57AA50;
$blue: #4775D1;
$purple: #8C61DB;
$pink: #d35d9b;

$font-display: 'Afacad Flux', 'Verdana', sans-serif;
$font-body: 'Hind', 'Arial', sans-serif;