@use "/src/styles/__variables" as *;
@use "/src/styles/__mixins" as *;

.login {
    position: absolute;
    top: 40px;
    right: -65px;
    border: 1px solid $borders;
    color: $text-light;
    background: $bg-extralight;
    padding: 10px;
    border-radius: 2px;
    max-width: 170px;

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    &__label {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    } 

    &__text-input {
        width: 150px;
        height: 1.5rem;
    }
}